<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <!-- <% const name = 'Mario' %>
  <p><%= name %></p> -->
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
        distinctio dignissimos nisi deleniti maxime quidem obcaecati placeat?
        Laboriosam saepe reiciendis iusto neque. Illo, explicabo placeat? Qui
        tempore architecto quos expedita.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
        distinctio dignissimos nisi deleniti maxime quidem obcaecati placeat?
        Laboriosam saepe reiciendis iusto neque. Illo, explicabo placeat? Qui
        tempore architecto quos expedita.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
        distinctio dignissimos nisi deleniti maxime quidem obcaecati placeat?
        Laboriosam saepe reiciendis iusto neque. Illo, explicabo placeat? Qui
        tempore architecto quos expedita.
      </p>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
